Source: adapt-parser
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Mycroft Devs <devops@mycroft.ai>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
               python-pyee,
               python3-pyee,
               python3-all,
               python3-setuptools
Standards-Version: 4.0.0

Package: python-adapt-parser
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
XB-Python-Version: ${python:Versions}
Description: Text-to-intent parsing framework
 This package contains the adapt module for Python 2. 
 The Adapt Intent Parser is a flexible and extensible intent definition and
 determination framework. It is intended to parse natural language text into
 a structured intent that can then be invoked programmatically.

Package: python3-adapt-parser
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: Text-to-intent parsing framework
 This package contains the adapt module for Python 3. 
 The Adapt Intent Parser is a flexible and extensible intent definition and
 determination framework. It is intended to parse natural language text into
 a structured intent that can then be invoked programmatically.
